<template name="work">
    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        <div class="wor">
            {{#each projects}}
                <div class="col-lg-4">
                    <a class="zoom green" href="/project/{{_id}}"><img class="img-responsive" src="{{projectImage}}" width="{{ImageWidthS}}" alt="" /></a>
                    <p>{{name}}</p>
                </div>
            {{else}}
                <p>There are no projcets</p>
            {{/each}}
        </div>
    </div><!-- /container -->
</template>